@font-face {
    font-family: 'Oswald';
    src: url('./assets/Oswald-Regular.woff2') format('woff2'),
        url('./assets/Oswald-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body {
  background-color: #302b3b;
  color: #e0daed;
  font-family: Oswald;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

#header {
  background-color: #211e29;
  color: #aca7b8;
  display: inline-block;
  padding: 2px;
  margin: 0px;
  padding-top: 4px;
  width: calc(100% - 4px);
  line-height: normal;
  height: 25px;
}

#content {
  display: inline-block;
  color: #aca7b8;
  padding: 0px;
  padding-left: 4px;
  margin: 0px;
}

#options {
  padding: 0px;
  margin: 0px;
}

.option {
  float: left;
  margin: 0px;
  padding-right: 16px;
}

#displayTime {
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
  font-size: 50px;
}
